
  @import url('https://fonts.googleapis.com/css?family=Spartan:400,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  overflow-x: hidden;
}
.bg-wrapper{
    position: absolute;
    overflow: hidden;
    height: 150vh;
    width: 100vw;
    z-index: -1;
}
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 150%;
    width: 150%;
    z-index: -1;
    background-image: url(./imgs/bg.jpg);
    background-size: cover;
    background-position-x: 0px;
    animation: bgAnimation 25s ease alternate-reverse;
    animation-iteration-count: infinite;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes bgAnimation {
  from {left: 0px; top: 0px}
  to {left: -150px; top: -50px}
}
